services:
  voicevox:
    image: voicevox/voicevox_engine:cpu-latest
    ports:
      - "50021:50021"
    restart: always

  aituber-kit:
    build:
      context: .
      dockerfile: ./docker/aituber-kit/Dockerfile
    ports:
      - "3000:3000"
    restart: always
    env_file:
      - .env
    volumes:
      - ./:/workdir

  backend:
    build:
      context: .
      dockerfile: ./docker/backend/Dockerfile
    ports:
      - "8000:8000"
    restart: always
    env_file:
      - ./backend/.env
    volumes:
      - ./:/workdir
    tty: true